#################
## Deploy
#################

*.zip
MemoryWall-old/
logs/

#################
## Jetbrains
#################

**/.idea/
*.iml

#################
## Node.js
#################

node_modules/
dist/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage

# production
build/


#################
## PHP
#################

vendor/

#############
## Windows Crap
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#############
## Mac Crap
#############

.DS_Store