<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand-padding" href="/Homepage">
				<img class="brand-img" src="/Homepage/data/logo.png" alt="Logo"/>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li ng-repeat="nav in $ctrl.navs" ng-class="{dropdown:nav.dropdown}"
					ng-switch="nav.dropdown">

					<ge-link ng-switch-when="false" text="{{nav.text}}" url="{{nav.url}}" tooltip="{{nav.tooltip}}"
						 source="{{nav.source}}" external="{{nav.external}}"></ge-link>

					<a ng-switch-when="true" title="{{nav.tooltip}}" ng-href="{{nav.url}}" target="{{nav.target}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span>{{nav.text}}</span>
						<span class="caret"></span>
					</a>
					<ul ng-switch-when="true" class="dropdown-menu">
						<li ng-repeat="link in nav.links">
							<ge-link text="{{link.text}}" url="{{link.url}}" tooltip="{{link.tooltip}}"
								 source="{{link.source}}" external="{{link.external}}"></ge-link>
						</li>
					</ul>

				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
