<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta description="{% block Description %}Description{% endblock %}"/>

    <link id="favicon" rel="icon" href=
    "{% block Logo %}/Homepage/static/logo/black.png{% endblock %}"
          type="image/x-icon">

    <title>{% block Title %}Title{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/Homepage/static/materialize-custom.css" rel="stylesheet"/>
    <!-- Font Awesome v4.7.0-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    {% block Styles %}{% endblock %}

    {% block Scripts %}{% endblock %}
</head>
<body>
<div id="root">
    <header id="app-header" class="app-header"></header>
    <main id="app-main" class="app-main">
        {% block MainContent %}{% endblock %}
    </main>
    <footer id="app-footer" class="page-footer app-footer"></footer>
</div>
<script src="/Homepage/static/dist/header.bundle.js"></script>
<script src="/Homepage/static/dist/footer.bundle.js"></script>
{% block AfterScripts %}{% endblock %}
</body>
</html>
