{% extends 'lib/base.html.twig' %}

{% block Description %}Memory Wall App{% endblock %}

{% block Title %}Memory Wall{% endblock %}

{% block Styles %}
    <!-- Bootstrap Theme Override-->
    {#<link rel="stylesheet" href="/Homepage/static/themes/bootstrap-slate.css">#}

{% endblock %}

{% block Scripts %}

{% endblock %}

{% block MainContent %}
    {#<header id="app-header" class="app-header"></header>#}
    {#<main id="app-main" class="app-main"></main>#}
    {#<footer id="app-footer" class="app-footer"></footer>#}
{% endblock %}


{% block AfterScripts %}
    <script src="/Homepage/static/memory-wall/dist/main.bundle.js"></script>
{% endblock %}